/* General styles */
.profile-section {
    background-color: #9eb9ef;
  }
  
  .profile-card {
    border-radius: 0.5rem;
  }
  
  /* Gradients for different user types */
  .gradient-buyer {
    background: linear-gradient(to right bottom, #f6d365, #fda085);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .gradient-seller {
    background: linear-gradient(to right bottom, #a1c4fd, #c2e9fb);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .gradient-agent {
    background: linear-gradient(to right bottom, #d4fc79, #96e6a1);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .gradient-default {
    background: linear-gradient(to right bottom, #e0eafc, #cfdef3);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  