/* Logo */
.logo-img {
  height: 50px; /* Adjust based on your preference */
  width: auto;
}

/* Search Icon */
.search-icon, .fa-heart {
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

/* Search Bar */
.search-bar {
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  display: flex;
  align-items: center;
}
.close-search {
  margin-left: 10px;
  cursor: pointer;
}

/* Mobile Menu Button */
.navbar-toggler {
  border: none;
}

/* Hide the button on large screens (≥992px) */
@media (min-width: 992px) {
  .mobile-menu-btn {
    display: none;
  }
}














